* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  max-width: 1440px;
  margin: auto;
}

.border {
  border: 1px solid red;
}

/* Navbar Styles */
.navbar {
  background-color: #fff;
}

.navbar-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: space-between;
  max-width: 1216px;
  height: 80px;
  padding: 0 112px;
  margin: 0 auto;
}


.logoimg {
  width: 100px;
  height: 100px;
  object-fit: contain;
}



.navCenter {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.navCenter a {
  text-decoration: none;
  color: #475569;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navCenter a:hover {
  color: #4F46E5;
}

.navRight {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn1 {
  padding: 12px 20px;
  border: 1px solid #e8e8e8;
  border-radius: 60px;
  background-color: white;
  color: #475569;
  cursor: pointer;
  font-weight: 600;
}

.btn1:hover {
  background-color: #f8fafc;
  border-color: #4F46E5;
}

.btn2 {
  padding: 12px 20px;
  border: none;
  border-radius: 60px;
  background-color: #4F46E5;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.btn2:hover {
  background-color: #4338ca;
}

/* Hero Section */
.heroContainer {
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #eef1fc 40%,
    #d8dcf8 70%,
    #b9bef1 90%,
    #8f94e9 100%
  );
  padding: 60px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.hero {
  max-width: 800px;
  text-align: center;
  color: #1e293b;
}

.hero1p {
  font-size: 14px;
  font-weight: 600;
  background: #eef2ff;
  padding: 6px 12px;
  border-radius: 60px;
  color: #4F46e5;
  display: inline-block;
}

.hero h2 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1.2;
  margin: 20px 0;
}

.hero2p {
  font-size: 18px;
  font-weight: 400;
  color: #475569;
}

.appButton {
  display: flex;
  gap: 8px;
}



.heroImg img {
  max-width: 100%;
  display: block;
}

/* Company Section */
.company {
  background-color: #f8fafc;
  padding: 64px 112px;
  max-width: 1216px;
  margin: auto;
}

.company1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.company1 img {
  max-width: 144px;
  height: 96px;
}

/* Features Section */
.Container {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.features-hero {
  max-width: 800px;
  text-align: center;
  color: #1e293b;
}

.features-hero p {
  font-size: 20px;
  color: #475569;
}

.title {
  font-size: 36px;
  font-weight: 800;
  padding: 10px 0;
}



/* Features Section */
.Container {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.features-hero {
  max-width: 800px;
  text-align: center;
  color: #1e293b;
}

.FeaturesDescription {
  font-size: 20px;
  font-weight: 400;
  color: #475569;
  line-height: 160%;
}


.features-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1216px;
  margin: auto;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 384px;
  gap: 20px;
}

.feature-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.feature-item h3 {
  font-size: 20px;
  font-weight: 700;
  color: #1e293b;
}

.feature-item p {
  font-size: 16px;
  font-weight: 400;
  color: #475569;
}


.resultBg{
  background: #F8FAFC;
  padding: 96px 112px;
}

.resultContainer{
  max-width: 800px;
  margin: auto;
}

.resultIcon {
  background: #eef2ff;
  display: flex;
  justify-content: center;
  align-items: center; 
  width:  56px;
  height: 56px;
  border-radius: 123px;
  margin: auto;
}



.result-count {
  max-width: 800px;
  margin: auto;
  display: flex;
  gap: 16px;
  padding-top: 64px;
}

.resultH2 {
  font-size: 60px;
  font-weight: 700;
  color: #4F46E5;
}
.resultP {
  font-size: 18px;
  font-weight: 700;
  color: #475569;
  text-align: center;
}


.result-count1 {
  width: 245px;
  border: none;
  border-right: 1px solid #CBD5E1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.result-count2 {
  width: 245px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.description{
  font-size: 18px;
  font-weight: 400;
  color: #475569;
  max-width: 700px;
}

.steps-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  min-height: 500px;
}

.steps-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-right: 60px;
}

.steps1Bordder h3, .steps1Bordder1 h3{
  color: #475569;
  padding: 24px 0;
}

.steps1Bordder, .steps1Bordder1 p{
  color: #475569;
  padding-bottom: 16px;
}

.steps1Bordder {
  border: none;
  border-left: 4px solid #4F46E5;
  padding-left: 10px;
}
.steps1Bordder1 {
  border: none;
  border-left: 4px solid #E0E7FF;
  padding-left: 10px;
}

.testimonialBg {
  background: #F8FAFC;
  padding: 96px 48px;
}

.testimonialCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
  column-gap: 20px;
  row-gap: 5px;
  max-width: 1216px;
  margin: auto;
  align-items: start;
  gap: 32px;
}

.testimonialCardContainer{
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.testimonialCard {
  max-width: 384px;
  height: auto;
  padding: 24px;
  border: 1px solid #E2E8F0;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.testimonialCardContainer p {
  color: #475569;
  font-weight: 400;
}

.testimonialCardImg {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.testimonialAuthor{
  display: flex;
  gap: 16px;
  padding-top: 10px;
}

.testimonialAuthor h2{
  font-size: 16px;
  font-weight: 700;
  color: #1e293b;
}

.testimonialCardDescrip {
  padding: 10px 0;
}


.Container-who {
  max-width: 1216px;
  margin: 0 auto;
  padding: 96px 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 64px;
}

.who-text{
  align-items: center;
  justify-content: start;
  max-width: 1216px;
  margin: 0 auto 0  0;
}

.whoTitle {
  font-size: 36px;
  font-weight: 800;
  padding: 10px 0;
  color: #1e293b;
}

.VisitCardContainer{
  display: flex;
  gap: 32px;
}

.VisitCard{
  padding: 24px;
  border: 1px solid #E0E7FF;
  border-radius: 14px;
}

.VisitCard img {
  padding-bottom: 24px;
}

.VisitCard h2 {
  margin: 5px 0;
}

.VisitCard p {
  max-width: 90%;
  color: #1E293B;
}


.fawContainer {
  padding: 96px 320px;
}

.faq-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}



/* FAQ Items */
.faq-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.faq-item {
  border-bottom: 1px solid #e0e7ff;
}

.faq-item:last-child {
  border-bottom: none;
}

.accordion {
  cursor: pointer;
  padding: 20px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  color: #1e293b;
  transition: 0.4s;
  display: flex;
  align-items: center;
  background: none;
}

.accordion:hover,
.active {
  background: none;
}

/* icon and question text */
.accordion-content {
  display: flex;
  align-items: center;
  flex: 1;
  color: #334155;
}

/* Left icon */
.accordion-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


/* toggleArrow img */
.toggleArrow {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
  margin-left: auto;
}


.accordion.active .toggleArrow {
  transform: rotate(180deg);
}

.panel {
  padding: 0;
  display: none;
  background: none;
  overflow: hidden;
}

#hiddenL {
  display: none;
}
.loadMoreContainer{
  display: none;
}
.hiddenLarge {
  display: block;
}

.panel p {
  font-size: 16px;
  font-weight: 400;
  color: #475569;
  line-height: 1.5;
  padding-bottom: 15px;
}

.accordion.active + .panel {
  display: block;
}


/* Let’s Download The App. */
.downloadAppContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 64px 112px;
  background: #EEF2FF;
}

.downloadAppText{
  display: flex;
  flex-direction: column;

}

.downloadButton {
  display: flex;
  gap: 12px;
  padding: 24px 0;
}


.downloadAppImg {
  display: flex;
  gap: 5px;
}


/* Download the App Section */

.downloadApp {
  background-color: #EEF2FF;
  /* position: relative; */
  /* height: 600px; */
  overflow: hidden;
}


.downloadAppContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1260px;
  margin: 0 auto;
  padding: 60px 0 60px 60px;
  position: relative;
  height: 395px;
}

/* Text Section */
.downloadAppText {
  flex: 1;
  justify-content: center;
  align-items: start;
  max-width: 50%;
  padding-right: 20px;

}


.downloadAppText p {
  font-size: 16px;
  font-weight: 700;
  color: #475569;
  line-height: 1.5;
  margin-bottom: 20px;
  max-width: 480px;
}

/* Buttons */
.downloadButton {
  display: flex;
  gap: 20px;
}

.btn3 {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  color: #4F46E5;
  background: transparent;
  border: 2px solid #4F46E5;
  border-radius: 50px;
  cursor: pointer;
}


.btn4 {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #4F46E5;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}



/* Image Section */
.downloadAppImg {
  flex: 1;
  max-width: 100%;
  display: flex;
  justify-content: end;
}

.downloadAppImg div {
  max-width: 50%;
}

/* .firstPhoneImg {
  position: absolute;
  bottom: 0;
  left: 400px;
} */

.firstPhoneImg {
  height: 550px;
  width: auto;
  position: absolute;
  top: 60px;
  /* bottom: -280px; */
  right: 300px;
  box-shadow: #E2E8F0 0px 0px 20px 0px;
}

.secondPhoneImg {
  height: 550px;
  width: auto;
  position: absolute;
  top: -100px;
  right: -24px;
  box-shadow: #E2E8F0 0px 0px 20px 0px;
}

/* footerContainer */

footer {
  background-color: #F8FAFC;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  padding: 64px 0 20px 0;
  max-width: 1216px;
  margin: auto;
}

.footerContainer h2 {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 12px;
}

.footerContainer li {
  list-style: none;
  padding: 0;
  gap: 10px;
  line-height: 30px;
  cursor: pointer;
  color: #475569;
}

.footerBottom{
  max-width: 1216px;
  margin: auto;
  gap: 16p;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-top: 1px solid #CBD5E1;
  padding: 8px 0 16px 0;
}

.Footerlogo{
  width: 100px;
  height: 100px;
  object-fit: contain;

}

.footerBottom p {
  color: #94A3B8;
  font-size: 14px;
}

.footerCenterImg {
  height: 40px;
  width: 40px;
  border: 1px solid #CBD5E1;
  border-radius: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bgWhite {
  background: white;
}